In [1]:
import yfinance as yf
import pandas as pd
import datetime as dt
from statsmodels.tsa.seasonal import seasonal_decompose
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm
import random
plt.style.use('dark_background')

In [2]:
acoes = ['PETR4.SA', 'VALE3.SA', 'WEGE3.SA']
inicio = dt.date(2004, 1, 1)
final = dt.date(2024, 11, 24)

In [3]:
df = yf.download(acoes, inicio, final)#['Adj Close']

[*********************100%***********************]  3 of 3 completed

In [4]:
inicio = dt.date(2004, 1, 1)
final = dt.date(2024, 11, 24)

for acao in ['BRL=X', 'PETR4.SA', 'VALE3.SA', 'WEGE3.SA', 'GLD', 'GSPC']:
    df = yf.download(acao, inicio, final)#['Adj Close']
    break

[*********************100%***********************]  1 of 1 completed

In [5]:
df

Price      Adj Close   Close      High       Low    Open Volume
Ticker         BRL=X   BRL=X     BRL=X     BRL=X   BRL=X  BRL=X
Date
2004-01-01    2.9010  2.9010  2.901000  2.901000  2.9010      0
2004-01-02    2.8760  2.8760  2.901000  2.876000  2.9010      0
2004-01-05    2.8530  2.8530  2.876000  2.853000  2.8760      0
2004-01-06    2.8660  2.8660  2.866000  2.840000  2.8530      0
2004-01-07    2.8580  2.8580  2.880000  2.858000  2.8660      0
...              ...     ...       ...       ...     ...    ...
2024-11-18    5.7946  5.7946  5.838951  5.735413  5.7946      0
2024-11-19    5.7464  5.7464  5.799616  5.738205  5.7464      0
2024-11-20    5.7718  5.7718  5.789600  5.763188  5.7718      0
2024-11-21    5.7707  5.7707  5.830700  5.764578  5.7707      0
2024-11-22    5.8141  5.8141  5.830200  5.784836  5.8141      0

[5005 rows x 6 columns]

In [5]:
df

Price       Adj Close                            Close                        \
Ticker       PETR4.SA   VALE3.SA   WEGE3.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Date
2004-01-01   2.247718   6.076768   0.525838   9.550000  14.125000   0.739644
2004-01-02   2.330096   6.256023   0.525838   9.900000  14.541666   0.739644
2004-01-05   2.465429   6.453205   0.525838  10.475000  15.000000   0.739644
2004-01-06   2.594879   6.446034   0.525838  11.025000  14.983333   0.739644
2004-01-07   2.567518   6.130544   0.547924  10.908750  14.250000   0.770710
...               ...        ...        ...        ...        ...        ...
2024-11-14  37.270000  56.840000  54.349998  37.270000  56.840000  54.349998
2024-11-18  38.200001  57.549999  54.000000  38.200001  57.549999  54.000000
2024-11-19  37.799999  57.680000  54.130001  37.799999  57.680000  54.130001
2024-11-21  37.910000  57.619999  53.730000  37.910000  57.619999  53.730000
2024-11-22  39.419998  58.180000  54.009998  39.419998  58.180000  54.009998

Price            High                              Low                        \
Ticker       PETR4.SA   VALE3.SA   WEGE3.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Date
2004-01-01   9.550000  14.125000   0.739644   9.550000  14.125000   0.739644
2004-01-02   9.900000  14.625000   0.739644   9.550000  14.083333   0.739644
2004-01-05  10.498750  15.041666   0.739644   9.981250  14.583333   0.739644
2004-01-06  11.025000  15.125000   0.739644  10.462500  14.583333   0.739644
2004-01-07  11.562500  15.416666   0.770710  10.900000  14.250000   0.770710
...               ...        ...        ...        ...        ...        ...
2024-11-14  37.330002  57.340000  54.790001  36.860001  56.840000  53.900002
2024-11-18  38.299999  57.779999  54.310001  37.200001  56.970001  53.590000
2024-11-19  38.299999  57.980000  54.509998  37.650002  57.459999  53.540001
2024-11-21  38.130001  57.799999  53.950001  37.549999  57.209999  53.160000
2024-11-22  39.830002  58.270000  54.250000  38.470001  57.250000  53.630001

Price            Open                          Volume
Ticker       PETR4.SA   VALE3.SA   WEGE3.SA  PETR4.SA  VALE3.SA WEGE3.SA
Date
2004-01-01   9.550000  14.125000   0.739644         0         0        0
2004-01-02   9.550000  14.166666   0.739644  23606400   1627200        0
2004-01-05   9.986250  14.583333   0.739644  44755200   1977600        0
2004-01-06  10.626250  15.037500   0.739644  77187200   2971200        0
2004-01-07  11.000000  15.150000   0.770710  71033600   3340800    54080
...               ...        ...        ...       ...       ...      ...
2024-11-14  36.919998  57.160000  54.650002  30262100  17967600  6074900
2024-11-18  37.200001  57.090000  53.919998  39004100  14300000  3437300
2024-11-19  38.099998  57.799999  53.990002  26002700  12902100  4176900
2024-11-21  37.970001  57.500000  53.740002  36048400  15428500  6608700
2024-11-22  38.709999  57.439999  53.950001  85234900  12590500  5034900

[5210 rows x 18 columns]